# Merge

In [1]:
%autosave 0

Autosave disabled

In [2]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.set_option('precision', 2) # show only two decimal digits

Load the survey data

In [3]:
df  = pd.read_csv('cleaned_survey.csv', index_col=0)

In [4]:
len(df)

61

Let us assume that we also have a dataframe <i>df_programs</i>, which contains the units required to complete the graduate programs at our business school.

In [5]:
df_programs = pd.DataFrame({'Program' : \
    ['MSIS', 'MBA', 'Master of Finance', \
     'Supply Chain Mgmt & Analytics', 'Master of Hacking'],\
    'Units_required' : [51, 70, 48, 49, 100]})

Note that Master of Hacking (unfortunately) does not actually exist...

In [6]:
df_programs

                         Program  Units_required
0                           MSIS              51
1                            MBA              70
2              Master of Finance              48
3  Supply Chain Mgmt & Analytics              49
4              Master of Hacking             100

In [7]:
df.Program.unique()

array(['MSIS', 'Supply Chain Mgmt & Analytics', 'MBA', 'Faculty!',
       'Business Man', 'Master of Finance'], dtype=object)

In [54]:
df.Program.value_counts()

MSIS                             40
MBA                              16
Supply Chain Mgmt & Analytics     2
Faculty!                          1
Master of Finance                 1
Business Man                      1
Name: Program, dtype: int64

In [8]:
df_programs.Program.unique()

array(['MSIS', 'MBA', 'Master of Finance',
       'Supply Chain Mgmt & Analytics', 'Master of Hacking'], dtype=object)

In [9]:
len(df)

61

In [10]:
len(df_programs)

5

In [11]:
len(df[(df.Program=='Business Man') | (df.Program=='Faculty!')])

2

In [12]:
len(df_programs[(df_programs.Program=='Master of Hacking')])

1

## Merge on columns

A Merge operation ("join" in relational DBs) consists of joining the columns of two tables based on the equality of one or more columns. For example, we can add to <i>df</i> a column <i>Units_required</i>, which reports the units required by the program in which each student is enrolled.

### INNER MERGE (default)

Compact formulation: the merge will be performed on the columns with the same name in both tables. Merging <i>df</i> with <i>df_programs</i> will perform the merge on the column <i>Program</i>, because that is the only column with the same name.

Use this to expand the column display

pd.set_option('display.max_columns', 50)  and pd.set_option('display.max_rows', 100)

In [13]:
df.merge(df_programs).head()
# default : 自动去找相同的column，自动是inner merge

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,...,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,...,1.0,4,4,0,1,0,0,6.0,1,51
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,...,0.0,2,2,0,0,0,1,4.0,1,51
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,...,1.0,3,3,0,0,1,0,3.0,1,51
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,...,1.0,2,3,0,0,0,1,5.0,1,51
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,...,0.0,1,1,0,0,1,0,4.0,1,51

In [14]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)
# display 设置

In [15]:
df.merge(df_programs)

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1,51
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1,51
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1,51
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1,51
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1,51
5,0.0,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,1,0,0,4.0,1,51
6,0.0,MSIS,2,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,2,2,1,0,0,0,3.0,1,51
7,0.5,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,1.0,2,1,0,0,0,1,4.0,1,51
8,0.5,MSIS,4,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,0,1.0,1,1,0,0,0,1,5.0,1,51
9,0.0,MSIS,5,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,1,0,0,1,0,4.0,1,51
10,0.5,MSIS,2,0,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,3,2,0,1,0,0,2.0,0,51
11,0.0,MSIS,2,0,0,1.0,1,1.0,1.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,0,1,5.0,1,51
12,0.5,MSIS,3,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,1,0.0,2,2,0,0,1,0,6.0,1,51
13,0.0,MSIS,3,1,1,1.0,1,NaN,1.0,0.0,1.0,0.0,1,1,0.0,2,1,0,0,0,1,6.0,1,51
14,0.0,MSIS,2,0,0,0.0,1,0.0,0.0,0.0,0.0,0.0,1,1,0.0,2,3,0,0,1,0,1.0,0,51
15,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,2,2,0,0,0,1,4.0,1,51
16,0.5,MSIS,3,1,1,0.0,1,1.0,0.0,NaN,1.0,0.0,1,1,NaN,1,1,0,0,0,1,5.0,1,51
17,0.0,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,0.0,0.0,1,1,0.0,1,1,0,1,0,0,3.0,1,51
18,0.5,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,1,1,0,1,0,0,4.0,1,51
19,0.0,MSIS,3,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,3,3,0,0,1,0,3.0,1,51
20,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,1,0.0,1,2,0,0,0,1,6.0,1,51
21,0.0,MSIS,1,0,0,0.0,0,0.0,0.0,0.0,1.0,0.0,1,1,0.0,1,1,0,1,0,0,1.0,0,51
22,0.0,MSIS,3,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,3,3,0,0,1,0,3.0,1,51
23,1.0,MSIS,3,1,0,0.0,1,1.0,1.0,1.0,1.0,0.0,0,1,1.0,3,3,0,1,0,0,6.0,1,51
24,0.0,MSIS,2,0,0,0.0,1,0.0,1.0,0.0,1.0,0.0,1,0,0.0,2,1,0,0,1,0,3.0,1,51
25,0.0,MSIS,4,0,0,0.0,1,1.0,1.0,0.0,1.0,0.0,0,1,0.0,2,1,0,1,0,0,4.0,1,51
26,0.0,MSIS,3,1,1,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,0.0,1,1,0,1,0,0,5.0,1,51
27,0.0,MSIS,3,0,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,1,1.0,1,1,0,0,0,1,5.0,1,51
28,1.0,MSIS,3,1,1,0.0,1,1.0,1.0,1.0,1.0,0.0,0,1,1.0,2,2,0,1,0,0,7.0,1,51
29,0.0,MSIS,4,1,1,1.0,1,1.0,1.0,0.0,1.0,0.0,1,1,1.0,2,2,0,1,0,0,7.0,1,51
30,0.0,MSIS,4,1,1,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,0.0,2,2,0,1,0,0,5.0,1,51
31,0.5,MSIS,4,1,1,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,1,0,0,1,0,5.0,1,51
32,0.0,MSIS,3,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,3,3,0,0,1,0,3.0,1,51
33,0.0,MSIS,4,1,1,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,0.0,2,2,0,0,1,0,5.0,1,51
34,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,1,0.0,2,2,0,0,1,0,5.0,1,51
35,0.0,MSIS,2,0,0,0.0,1,1.0,1.0,1.0,1.0,0.0,1,1,1.0,1,1,0,0,1,0,5.0,1,51
36,0.5,MSIS,3,0,0,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,0.0,1,1,0,0,0,1,3.0,1,51
37,0.0,MSIS,4,1,0,0.0,1,0.0,0.0,0.0,NaN,1.0,1,1,0.0,1,1,0,0,0,1,3.0,1,51
38,0.5,MSIS,3,0,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,1.0,1,1,0,0,0,1,3.0,1,51
39,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,2,0,0,1,0,3.0,1,51
40,1.0,Supply Chain Mgmt & Analytics,1,0,0,0.0,0,0.0,0.0,0.0,1.0,0.0,1,0,1.0,1,1,0,1,0,0,1.0,0,49
41,0.0,Supply Chain Mgmt & Analytics,2,1,1,0.0,0,0.0,0.0,0.0,1.0,0.0,1,0,1.0,3,1,1,0,0,0,3.0,1,49
42,1.0,MBA,1,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1,0,1.0,1,1,0,0,0,1,0.0,0,70
43,0.5,MBA,4,1,1,1.0,1,0.0,0.0,0.0,1.0,0.0,1,0,1.0,2,2,0,0,0,1,5.0,1,70
44,1.0,MBA,2,0,0,0.0,0,1.0,0.0,0.0,0.0,0.0,1,0,1.0,1,1,0,0,0,1,1.0,0,70
45,1.0,MBA,5,1,1,0.0,1,0.0,1.0,0.0,1.0,0.0,1,0,1.0,2,2,0,0,0,1,5.0,1,70
46,1.0,MBA,1,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1,0,0.0,1,1,0,0,0,1,0.0,0,70
47,1.0,MBA,4,0,0,0.0,0,1.0,NaN,1.0,1.0,NaN,1,0,1.0,4,4,0,0,0,1,3.0,1,70
48,0.5,MBA,2,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0,1,0,1.0,2,2,0,1,0,0,1.0,0,70
49,0.0,MBA,1,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0,1,0,1.0,1,2,0,0,1,0,1.0,0,70
50,0.0,MBA,2,1,1,0.0,0,0.0,0.0,0.0,0.0,0.0,1,0,1.0,2,2,0,0,1,0,2.0,0,70
51,0.0,MBA,3,0,0,0.0,0,1.0,0.0,1.0,1.0,0.0,1,1,1.0,4,4,0,0,0,1,3.0,1,70
52,1.0,MBA,3,0,1,0.0,1,0.0,1.0,1.0,1.0,0.0,1,0,1.0,3,3,0,0,0,1,5.0,1,70
53,0.0,MBA,1,0,0,0.0,0,0.0,0.0,1.0,1.0,1.0,1,1,1.0,1,1,0,0,0,1,3.0,1,70
54,1.0,MBA,3,1,1,0.0,0,1.0,0.0,0.0,1.0,0.0,1,0,0.0,2,1,0,0,0,1,4.0,1,70
55,0.5,MBA,3,0,0,0.0,1,1.0,1.0,1.0,1.0,1.0,1,1,1.0,3,3,0,1,0,0,6.0,1,70
56,1.0,MBA,2,0,0,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,1.0,1,1,0,0,0,1,3.0,1,70
57,1.0,MBA,3,1,1,1.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,1,1,0,0,0,1,7.0,1,70
58,0.0,Master of Finance,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,0,1.0,1,1,0,0,0,1,5.0,1,48

Or we can specify the names of the columns with <i>left_on</i> (the column or list of columns on the "left" table) and <i>right_on</i> (the column or list of columns on the "right" table)

In [16]:
df.merge(df_programs, left_on='Program',right_on='Program')[:10]
# 可以直接写on='Program'
# 同样的作用， 这样是用在如果有两个column都是一样的时候，告诉Python根据哪一个column merge

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1,51
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1,51
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1,51
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1,51
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1,51
5,0.0,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,1,0,0,4.0,1,51
6,0.0,MSIS,2,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,2,2,1,0,0,0,3.0,1,51
7,0.5,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,1.0,2,1,0,0,0,1,4.0,1,51
8,0.5,MSIS,4,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,0,1.0,1,1,0,0,0,1,5.0,1,51
9,0.0,MSIS,5,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,1,0,0,1,0,4.0,1,51

In [58]:
df.merge(df_programs,on='Program')[:10]

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1,51
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1,51
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1,51
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1,51
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1,51
5,0.0,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,1,0,0,4.0,1,51
6,0.0,MSIS,2,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,2,2,1,0,0,0,3.0,1,51
7,0.5,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,1.0,2,1,0,0,0,1,4.0,1,51
8,0.5,MSIS,4,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,0,1.0,1,1,0,0,0,1,5.0,1,51
9,0.0,MSIS,5,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,1,0,0,1,0,4.0,1,51

In [17]:
df_inner = df.merge(df_programs, left_on='Program',right_on='Program')

In [18]:
len(df_inner)

59

In [19]:
df_inner[['Program','ProgSkills','Units_required']][0:5]
# [[column name, column name]] 这样可以选择多个column来显示，必须用[[]]双括号

  Program  ProgSkills  Units_required
0    MSIS           4              51
1    MSIS           3              51
2    MSIS           3              51
3    MSIS           3              51
4    MSIS           3              51

### LEFT MERGE

This is the equivalent of the left outer join in relational DBs. If a row on the left table finds no match, it will still appear in the result and the missing values will be filled with NAs.

In [20]:
df.merge(df_programs,how='left').head()
#  left_on (the column or list of columns on the "left" table)

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1,51.0
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1,51.0
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1,51.0
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1,51.0
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1,51.0

In [21]:
len(df.merge(df_programs,how='left'))

61

### RIGHT MERGE

In [56]:
df.merge(df_programs, how='right').head()
# right_on (the column or list of columns on the "right" table)

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,0.0,0.0,6.0,1.0,51
1,0.5,MSIS,3.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,1.0,4.0,1.0,51
2,0.0,MSIS,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3.0,3.0,0.0,0.0,1.0,0.0,3.0,1.0,51
3,0.0,MSIS,3.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,1.0,5.0,1.0,51
4,0.0,MSIS,3.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,4.0,1.0,51

In [23]:
len(df.merge(df_programs, how='right'))

60

### OUTER MERGE

In [24]:
len(df.merge(df_programs,how='outer'))

62

## Merge on Indices

Let's create a new DataFrame, called <i>df_programs_i</i>, which is a copy of <i>df_programs</i> but with <i>Program</i> being an index instead of a column.

In [25]:
df_program_i = df_programs.set_index('Program')

To merge <i>df</i> (left table) with <i>df_index_i</i> (right table), we need to specify that we use the index on the right table (<b>right_index = True</b>).

In [26]:
df.merge(df_program_i, left_on='Program', right_index=True).head()
# 这个情况，必须用right_index=True，因为default情况，Python找不到left df的column名字叫program！program已经变成index了。

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1,51
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1,51
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1,51
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1,51
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1,51

In [27]:
len(df.merge(df_program_i, left_on='Program', right_index=True))

59

## Problems

For each programming skills level, find the average number of units to be completed by students with that programming skill level

In [28]:
df_complete=df.merge(df_programs, left_on='Program', right_on='Program')

In [29]:
df_complete.groupby('ProgSkills')['Units_required'].mean()

ProgSkills
1    63.33
2    57.73
3    54.39
4    53.92
5    60.50
Name: Units_required, dtype: float64

For each existing program (i.e., for each Program in df_programs), find the units required to complete it and the number of students belonging to that program that responded to the survey.

In [57]:
df.isnull().any()

Job               False
Program           False
ProgSkills        False
C                 False
CPP               False
CS                 True
Java              False
Python             True
JS                 True
R                  True
SQL                True
SAS                True
Excel             False
Tableau           False
Regression         True
Classification    False
Clustering        False
Bach_0to1         False
Bach_1to3         False
Bach_3to5         False
Bach_5Plus        False
Languages         False
Expert            False
dtype: bool

In [30]:
df.merge(df_programs,how='right').groupby('Program').\
        agg({'Units_required':'mean','C':'count'}).\
        rename(columns={'C':'df_student'})
# 因此C这个column没有nan,所以可以用来count学生数量，也可以用其他column

                               Units_required  df_student
Program
MBA                                        70          16
MSIS                                       51          40
Master of Finance                          48           1
Master of Hacking                         100           0
Supply Chain Mgmt & Analytics              49           2

In [31]:
df_RealProgram = df.merge(df_programs,how='right')

In [32]:
df_RealProgram[df_RealProgram.Program=='Master of Hacking']

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert,Units_required
59,NaN,Master of Hacking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100

In [33]:
len(df_RealProgram)

60

For each person in df, the number of weekly hours they are working, assuming that:
<ul>
<li>each required unit of coursework is 0.25 hours a week of work
<li>Job=0 is 0 hours a week of work
<li>Job=0.5 is 20 hours a week of work
<li>Job=1 is 40 hours a week of work
</ul>

In [34]:
len(df)

61

In [35]:
df.groupby('Program')['C'].size()

Program
Business Man                      1
Faculty!                          1
MBA                              16
MSIS                             40
Master of Finance                 1
Supply Chain Mgmt & Analytics     2
Name: C, dtype: int64

In [36]:
df.groupby('Job')['C'].size()

Job
0.0    32
0.5    15
1.0    14
Name: C, dtype: int64

In [37]:
df_left = df.merge(df_programs,how='left')

In [38]:
df_left.isna().sum()

Job               0
Program           0
ProgSkills        0
C                 0
CPP               0
CS                1
Java              0
Python            1
JS                1
R                 1
SQL               1
SAS               1
Excel             0
Tableau           0
Regression        1
Classification    0
Clustering        0
Bach_0to1         0
Bach_1to3         0
Bach_3to5         0
Bach_5Plus        0
Languages         0
Expert            0
Units_required    2
dtype: int64

In [39]:
df_left['hrs_coursework']=df_left['Units_required']*0.25

In [40]:
df_left['hrs_job'] = df.Job.apply(\
        lambda x: 0 if x==0 else 20 if x==0.5 else 40)

In [41]:
df_left['hrs_total'] = df_left['hrs_coursework'] + df_left['hrs_job']

In [42]:
df_left.hrs_total.isna().sum()

2

In [43]:
df_left['hrs_total'].head()

0    12.75
1    32.75
2    12.75
3    12.75
4    12.75
Name: hrs_total, dtype: float64

In [44]:
df_left[['hrs_coursework','hrs_job','hrs_total']]

    hrs_coursework  hrs_job  hrs_total
0            12.75        0      12.75
1            12.75       20      32.75
2            12.75        0      12.75
3            12.75        0      12.75
4            12.75        0      12.75
5            12.25       40      52.25
6            12.75        0      12.75
7            12.75        0      12.75
8            17.50       40      57.50
9            12.75       20      32.75
10           17.50       20      37.50
11           17.50       40      57.50
12           12.75       20      32.75
13           12.25        0      12.25
14           17.50       40      57.50
15           17.50       40      57.50
16             NaN       40        NaN
17           17.50       40      57.50
18           17.50       20      37.50
19           12.75        0      12.75
20           12.75       20      32.75
21           12.75        0      12.75
22           17.50        0      17.50
23           12.75       20      32.75
24           17.50        0      17.50
25           12.75        0      12.75
26           12.75        0      12.75
27           12.75       20      32.75
28           12.75       20      32.75
29           12.75        0      12.75
30           12.75       20      32.75
31             NaN       40        NaN
32           17.50        0      17.50
33           12.75        0      12.75
34           12.75        0      12.75
35           12.00        0      12.00
36           17.50       40      57.50
37           12.75        0      12.75
38           17.50        0      17.50
39           12.75        0      12.75
40           12.75       40      52.75
41           12.75        0      12.75
42           12.75        0      12.75
43           12.75        0      12.75
44           12.75        0      12.75
45           12.75       40      52.75
46           12.75        0      12.75
47           12.75        0      12.75
48           12.75       20      32.75
49           17.50       40      57.50
50           17.50       20      37.50
51           12.75        0      12.75
52           12.75        0      12.75
53           12.75       20      32.75
54           12.75        0      12.75
55           12.75       20      32.75
56           17.50       40      57.50
57           12.75        0      12.75
58           12.75       20      32.75
59           12.75        0      12.75
60           17.50       40      57.50

### How to deal with Nan properly ...

In [45]:
df_left.fillna(0,inplace=True)

In [46]:
df_left.isna().any()

Job               False
Program           False
ProgSkills        False
C                 False
CPP               False
CS                False
Java              False
Python            False
JS                False
R                 False
SQL               False
SAS               False
Excel             False
Tableau           False
Regression        False
Classification    False
Clustering        False
Bach_0to1         False
Bach_1to3         False
Bach_3to5         False
Bach_5Plus        False
Languages         False
Expert            False
Units_required    False
hrs_coursework    False
hrs_job           False
hrs_total         False
dtype: bool

In [47]:
df_left['hrs_total'] = df_left['hrs_coursework'] + df_left['hrs_job']

In [48]:
df_left[['hrs_coursework','hrs_job','hrs_total']]

    hrs_coursework  hrs_job  hrs_total
0            12.75        0      12.75
1            12.75       20      32.75
2            12.75        0      12.75
3            12.75        0      12.75
4            12.75        0      12.75
5            12.25       40      52.25
6            12.75        0      12.75
7            12.75        0      12.75
8            17.50       40      57.50
9            12.75       20      32.75
10           17.50       20      37.50
11           17.50       40      57.50
12           12.75       20      32.75
13           12.25        0      12.25
14           17.50       40      57.50
15           17.50       40      57.50
16            0.00       40      40.00
17           17.50       40      57.50
18           17.50       20      37.50
19           12.75        0      12.75
20           12.75       20      32.75
21           12.75        0      12.75
22           17.50        0      17.50
23           12.75       20      32.75
24           17.50        0      17.50
25           12.75        0      12.75
26           12.75        0      12.75
27           12.75       20      32.75
28           12.75       20      32.75
29           12.75        0      12.75
30           12.75       20      32.75
31            0.00       40      40.00
32           17.50        0      17.50
33           12.75        0      12.75
34           12.75        0      12.75
35           12.00        0      12.00
36           17.50       40      57.50
37           12.75        0      12.75
38           17.50        0      17.50
39           12.75        0      12.75
40           12.75       40      52.75
41           12.75        0      12.75
42           12.75        0      12.75
43           12.75        0      12.75
44           12.75        0      12.75
45           12.75       40      52.75
46           12.75        0      12.75
47           12.75        0      12.75
48           12.75       20      32.75
49           17.50       40      57.50
50           17.50       20      37.50
51           12.75        0      12.75
52           12.75        0      12.75
53           12.75       20      32.75
54           12.75        0      12.75
55           12.75       20      32.75
56           17.50       40      57.50
57           12.75        0      12.75
58           12.75       20      32.75
59           12.75        0      12.75
60           17.50       40      57.50